body {
    font-family: sans-serif;
}

#conteudo {
    background-color: rgb(228, 105, 105);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    text-align: center;
}

.button {
    border: none;
    padding: 10px;
    width: 80px;
    border-radius: 5px;
}